body{
    background-image: url('/webpack-gyakorlas-homoktovis/images/hatter.png');
}

#cim{
    text-align: center;
    background-color: orange;
    height: 150px;
}

#homoktovis{
    font-size: 50px;
}

#nav{
    text-align: center;
    font-style: italic;
    font-size: 17px;
    background-color: white;
    height: 50px;
    padding: 12.5px;
}

nav a{
    color: orange;
}

.top-buffer{
    margin-top: 20px;
}

#kupon{
  background-color: orange;
}

#kartya{
  background-color: white;
  text-align: center;
}

#bokor{
  width: 500px;
  height: 300px;
  margin: auto;
}

.kep{
  width: 100%;
}

.fejlec{
  background-color: orange;
}

.block{
  background-color: white;
}